.header {
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
}

.header-small {
  padding: 2px;
  text-align: center;
  color: white;
  font-size: 15px;
}

.col1 {
  float: left;
  width: 20%;
  padding: 2px;
}

.col2 {
  float: left;
  width: 20%;
  padding: 2px;
}

.col3 {
  float: left;
  width: 40%;
  padding: 2px;
}

.col4 {
  float: left;
  width: 20%;
  padding: 2px;
}

.formElement {
  width: 50% !important;
  margin-left: 100px;
  margin-bottom: 5px;
}

.buttonStyling {
  background-color: white !important;
  margin-left: 150px;
}

.tableRowStyling {
  color: white;
  font-size: 12px;
  width: 190px;
  margin-left: 100px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Arial";
  font-size: 13px;
}
.tick {
  stroke-dasharray: 1, 2;
}
.bar {
  fill: FireBrick;
}
