//order form and orderformelement and accountdropdownelements
.formElement {
  width: 50% !important;
  margin-left: 100px;
  margin-bottom: 5px;
}

//orderform and order form element
.buttonStyling {
  background-color: white !important;
  margin-left: 150px;
}

p {
  text-align: center;
}
