//app.js columns
.col1 {
  float: left;
  width: 20%;
  padding: 2px;
}

//app.js columns
.col2 {
  float: left;
  width: 20%;
  padding: 2px;
}

//app.js columns
.col3 {
  // float: left;
  // width: 40%;
  // padding: 2px;
}

//app.js columns
.col4 {
  float: left;
  width: 20%;
  padding: 2px;
}

//order form and orderformelement and accountdropdownelements
.formElement {
  width: 50% !important;
  margin-left: 100px;
  margin-bottom: 5px;
}

//orderform and order form element
.buttonStyling {
  background-color: white !important;
  margin-left: 150px;
}

//order list and order table aggregated
.tableRowStyling {
  color: white;
  font-size: 12px;
  width: 190px;
  margin-left: 100px;
}
