@import "variables";

%shared {
  font-family: $font-family;
  text-align: center;
}

.header {
  @extend %shared;
  color: $font-standard-colour;
  font-size: $heading-size;
  color: $heading-colour;
  border: $heading-border;
  padding: 5px;
}

//App js and orderlistprivate
.header-small {
  color: $subheading-colour;
  padding: 2px;
  font-size: 15px;
}
