@import "variables";

%shared {
  font-family: $font-family;
  text-align: center;
}

.header {
  @extend %shared;
  font-size: $heading-size;
  color: black;
  border: $heading-border;
  border-radius: 25px;
  padding: 10px;
  background-color: rgba(215, 215, 247, 0.849);
}

//App js and orderlistprivate
.header-small {
  color: $subheading-colour;
  padding: 2px;
  font-size: 15px;
}
