// Nested table styling

table {
  color: white;
  font-size: 12px;
  width: 190px;
  margin-left: 100px;
  text-align: center;

  thead {
    font-size: 16px;
  }

  tr {
  }

  tr:hover {
    background-color: #3a3939;
  }

  th {
  }
}
